/* src/components/Login.module.css */

.header {
  text-align: center;
  color: white;
}

.backgroundDiv {
  background-color: pink;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.inputEmail {
  margin-bottom: 10px;
  padding: 5px;
}

.inputPassword {
  margin-bottom: 25px;
  padding: 5px;
}

.loginBtn {
  padding: 8px;
  max-width: 200px;
  cursor: pointer;
  font-size: 16px;
}

.linkToRegister {
  color: blue;
  margin-left: 4px;
}

/* mobile */

@media (max-width: 480px) {
  .loginBtn {
    max-width: 500px;
    width: 100%;
  }
}
