/* src/pages/Register.module.css */

.header {
  text-align: center;
  color: white;
}

.backgroundDiv {
  background-color: pink;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.fieldset {
  margin-bottom: 10px;
  border-color: black;
}

.labelCustomer {
  margin-right: 40px;
}

.inputName,
.inputEmail,
.inputPassword {
  margin-bottom: 10px;
  padding: 5px;
}

.registerBtn {
  padding: 8px;
  margin-top: 15px;
  max-width: 200px;
  cursor: pointer;
  font-size: 16px;
}

.linkToLogin {
  color: blue;
  margin-left: 4px;
}

/* mobile */
@media (max-width: 480px) {
  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .registerBtn {
    max-width: 500px;
    width: 100%;
  }
}
