/* src/components/Footer.module.css */

/* Desktop */
.footer {
  padding: 20px;
  background-color: blueviolet;
  display: flex;
}

/* Tablet */
@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
