/* src/components/LogoutBtn.module.css */

.logoutBtn {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  color: blue;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: blue;
  color: aliceblue;
}
