/* src/components/RatingStars.module.css */

.rating {
  margin-top: 20px;
}

.rateVenue {
  margin-bottom: 0;
  font-weight: bold;
}

.stars {
  display: flex;
  gap: 5px;
}

.star {
  border: none;
  background: none;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  color: black;
}
