/* src/components/Searchbar.module.tsx */

.container {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
}

.searchbar {
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
}
